In [ ]:
jupyter lab and python basic

---------
1. introduction

- when human talk with computer to get feedback, it needed language. there are three level: 
- high level
- low level
- and hardware level
( the higher it is , the easier it for human to understand)

whats is ?
- phyton is high level language
so it easy to human can talk with computer

there are 3 componens in python
1. interpreted (python can interpreted the command from human)
2. high level (easy to understand)
3. general purpouse (can use in anything purpouse)

fun fact: python reach number 1 for popular language for data and analytics wirh 27 % share

why python?
there are 2 reason
1. easy
you can text comand with 1 line 
2. multifunction for general purpouse
funfact : the real blackhole picture, it process from scientist with python languages

------
2. introduction jupyterlab

- jupyter is software for coding with python

- other software such as spyder, pycharm, visual code studio, and google colab

why we use jupyter?

- there are 3 benefit 
1. can open csv file
2. can open more then 1 project at the same time
3. drag and drop cell

In [ ]:
------------

In [19]:
Topic:variabel

SyntaxError: invalid syntax (2534987556.py, line 1)

In [ ]:
Variable is an element and concist value also can be changed

In [ ]:
tinggi_badan = 173

In [ ]:
its mean : the variable 'name' consist value int 173 and can be changed

In [ ]:
the rules are :
    error if use space on the variable like (tinggi badan = 167) 
    error if start with number like 1nama = 'adam'
    error if start with special character like nama!='adam'
    variable name concist case sensitive like nama =/ Nama

In [ ]:
type of data
---
text is string like "Bahasa Python"
-
numeric 1 is int like 45 or 2000
numeric 2 is float like 3.14 or 0.05
-
boolean is bool like True or False (logical comand)

-type of data can save more then one value
sequence 1 is list like ["jawa","sunda","batak"]
sequence 2 is tuple like ("jawa","sunda","batak")
sequence 3 is range like range(10)
-
mapping is dict like {"name":"Ammar":"age":24}
-
set 1 is set like {"budi","hasan","rudi"}
set 2 is frozenset like frozenset ({"budi","hasan","rudi"})

In [ ]:
example coding for type data text, numeric, and boolean

In [ ]:
-- case 1 :please input value 
name : adam 
umur : 24
and print it

In [15]:
nama = 'adam' # string data
umur = 24 # integer data

In [16]:
print (nama)
print (umur)

adam
24

In [ ]:
-- case 2 :please check the type of data from name and umur.
we can use with comand type

In [17]:
type (nama)
type (umur)

int

In [ ]:
-- case 3 :please add value pelanggan baru as true and type of data

In [18]:
pelanggan_baru = True
type (pelanggan_baru)

bool

In [ ]:
-----------------